body {
    margin: 0px;
}

.main {
    display: flex;
}

.login_side {
    width: 720px;
    flex: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #E4DBCD;
}

.form_modal {
    background-color: #F1EADD;
    display: flex;
    flex-direction: column;
}




.img_side {
    flex: 1 1 auto;
    width: 720px;
}

.img_side img{
    height: 100vh;
}
